.botao {
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
}

.botao:hover {
    cursor: pointer;
    transition: all 0.5s;
    color: red;
}

.logout {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: seashell;
}

.logout:hover {
    cursor: pointer;
}